@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Additional styles */
.input {
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.btn-primary {
  border-radius: 20px;
  border: 1px solid #293241;
  background-color: #293241;
  color: #fff;
  font-weight: bold;
  padding: 12px 45px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.btn-primary:hover {
  transform: scale(0.95);
}
